/* default browsser */
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* root styles for construction */
:root{
  --mainDarkBlue:#262A41;
  --inputBackground:#3C3F54;
  --secondInputBackground:#dbdbdf;
  --inputTextColor:#3C3F54;
  --firstWhite:#F7F7FF;
  --mainGrey:#707070;
  --standardWhite:#fff;
  --secondDarkBlue:#3c3f54;
  --mainPink:#f935a9;
  --secondMainPink:#d476af;
  --mainLightBlue:#30bbb5;
  --mainPurple:#7946c1;
  --mainBlack:#000;
  --bluePurple:#323974;
  --secondLight:#75d6d1;
  --boxShadowBtn:#30BBB574;
  --userCardBoxShadow:#0000000D;
  /* non-colors */
  --mainTransition:0.3s all linear;
  --cardTransition:0.6s all linear;
  --mainBorderRadius:16px;
  --btnBorderRadius:7px;
  --secondBtnBorderRadius:13px;
}
/* end of root styles for construction */
.centered-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-card-container{
  transition:var(--cardTransition);
}
.hide-back-btn{
  display:none;
}
.show-back-btn{'
  display:block;
}
.hide-user-card{
  transform: translateY(-100%);
  transition: var(--mainTransition);
}
.show-user-card{
  transform:translateY(0%);
  transition: var(--mainTransition);
}